@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.container {
    margin: auto;
    text-align: center;
    max-width: 540px;
    width: 100%;
    border-radius: 0.2rem;
    border: 1px solid #000;
}

.title h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0.5rem;
}

.title p {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

.converter {
    font-size: 0.8rem;
    width: 90%;
    margin: auto;
    
}

.converter h1 {
    font-weight: 500;
    font-size: 1.3rem;
}

.converter p {
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form label{
    margin: 0.1rem;
}

.form input {
    font-size: 0.6rem;
    text-align: center;
    outline: none;
}

.form button {
    margin: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {    
    .container {
        height: 95%;
        border-radius: 0.5rem;   
        border: none;     
    }
    .title h1{
        font-size: 2.5rem;
        border-radius: 0.4rem;
        margin: 0.5rem auto;
        line-height: 3rem;
        background-color: aliceblue;
    }

    .title p {
        font-size: 1.3rem;
    }

    .converter {
        background-color: aliceblue;
        border-radius: 0.5rem;
        border: none;
    }

    .converter p{
        font-size: 1.4rem;
        font-weight: 450;
        margin-bottom: 1rem;
    }

    .form label {
        font-size: 1.2rem;
    }

    .converter h1{
        font-size: 1.7rem;
        margin-bottom: 0.7rem;
    }

    .form input {
        padding: 0.4rem;
        font-size: 1.1rem;
    }

    .form button {
        padding: 0.4rem;
        border-radius: 0.7rem;
    }
}